<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gbolvfnchc@vpybhq.pbz</string>
	<key>contactName</key>
	<string>Paul Okstad</string>
	<key>description</key>
	<string>Tools for working with Go code</string>
	<key>name</key>
	<string>GoMate</string>
	<key>uuid</key>
	<string>1F060167-B9EB-444B-A259-6064257AD376</string>
</dict>
</plist>
